body{
    background: #242423;
}

#main-container {
    display: flex;
    width: 66%;
    height: 100vh;
    margin: 0 auto;
}


#left-container {
    flex: 1;
    background-image: url(images/background-image.jpg);
    background-size:cover;
}

#right-container {
    flex: 1.73;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-container, .central-container, .bottom-container {
    flex: 1;
    height: 50px;

}

.central-container {
    background-color: #fff;
}

.top-container, .bottom-container {
    position: relative;
    background-color: #f8f9fa   ;
}

.text-container {
    width: 65%;
    margin-left: 3rem;
    position: absolute;
    top:4rem;
   
}

h2 {
    font-size: medium;
}

.form-container {
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
}

label {
    width: 150px;
    margin-right: 10px;
}

input {
    flex:1;
}

form label {
    font-size: small;
}