#main-container {
    display: flex;
    width: 100%;
    height: 100vh;
}


#left-container {
    flex: 1;
    background-image: url(images/background-image.jpg);
    background-size:cover;
}

#right-container {
    flex: 2;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-container, .central-container, .bottom.container {
    border: 1px solid #000;
    flex: 1;
    height: 100px;

}

.text-container {
    width: 75%;
    margin-left: 5rem;
}