body{
    background: #242423;
}

#main-container {
    display: flex;
    width: 66%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}


#left-container {
    flex: 1;
    background-image: url(images/background-image.jpg);
    background-size:cover;
}

#right-container {
    flex: 1.73;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top-container, .bottom-container {
    flex: 1;
}


.central-container {
    background-color: #fff;
    padding: 1.2rem 0;
    box-shadow:inset -2px -2px 1px rgba(0, 0, 0, 0.2);
}

.top-container, .bottom-container {
    position: relative;
    background-color: #f8f9fa   ;
}

.text-container {
    width: 65%;
    margin-left: 3rem;
    position: absolute;
    top:4rem;
   
}

h2 {
    font-size: medium;
}

legend {
    font-size: large;
    font-weight:800;
    margin: 1rem 0 1rem 1rem;
}

.form-row {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 75%;
}

.form-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px 10px;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.4rem;
}

input, label {
    width: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    align-self: center;
}


label {    
    font-size: small;
    font-weight:500;
    width: 100%;
}

.item{
    padding-top: .7rem;
    padding-left: 1rem;
}